<section class="hero-section">
 
  <div class="hero-inner">
    <div>
    <h1 class="hero-title">
      Discover the magic of <span class="text-s">photography</span> in our
      school
    </h1>

    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate
      your unique ideas.
    </p>

    <div class="users-block">
        <div class="users-list">
          <img class="block"
            srcset="
              ./images/mob/hero/mob-block.png    1x,
              ./images/mob/hero/mob-block@2x.png 2x
            "
            src="../images/mob/hero/mob-block.png"
            width="109"
            height="44"
            alt="users"
          />
          <div class="users-item">
            <div class="users-item-link">
              <a class="students" href="#reviews">Our happy students</a>
            </div>
            <svg class="icons-item" width="18" height="8.66">
              <use href="./images/icons.svg#icon-Arrow-2-Stroke"></use>
            </svg>
          </div>
        </div>
      
      <div class="users-reviews">
        <div class="users-reviews-item">
          <svg width="20" height="20">
            <use class="icon-star" href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="revievs-item">
          <p class="revievs-text">Reviews</p>
          <p class="revievs-value">+1500</p>
        </div>
      </div>
    </div>
  </div>
    <div class="hero-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/descktop/hero/Rectangle-5.png 1x,
            ./images/descktop/hero/Rectangle-5@2x.png 2x
          "
        />
        <source
        media="(min-width: 768px)" 
       srcset="
         ./images/tab/hero/Rectangle13.png 1x,
         ./images/tab/hero/Rectangle13@2x.png 2x
       "
     />
        <source
           media="(max-width: 767.98px)" 
          srcset="
            ./images/mob/hero/Rectangle14.png 1x,
            ./images/mob/hero/Rectangle14@2x.png 2x
          "
        />
        <img src="./images/mob/hero/Rectangle14.png" alt="Photography" width="395"/>
      </picture>
    </div>
 
</div>
</section>