<section class="mentors">
    <div class="container">
        <h2 id="our-mentors" class="mentor-title">Our <span class="mentor-span">Mentors</span></h2>
        <ul class="mentor-list">
            <li class="mentor-item">

                <img class="img-team" srcset="./images/descktop/mentors/girl-1.png 1x, ./images/descktop/mentors/girl-1@2x.png 2x"
                    width="180" height="180" src="./images/descktop/mentors/girl 1@2x.png" alt="Emilia Smith"
                   >
                <h3 class="mentor-item-title">Emilia Smith</h3>
                <p class="mentor-text">1.5 years of experience</p>
            </li>
            <li class="mentor-item">
                <img class="img-team" srcset="./images/descktop/mentors/boy-1.png 1x, ./images/descktop/mentors/boy-1@2x.png"
                    src="./images/descktop/mentors/boy-1@2x.png" alt="Alex Lebedev" width="180" height="180">
                <h3 class="mentor-item-title">Alex Lebedev</h3>
                <p class="mentor-text">3.5 years of experience</p>
            </li>
            <li class="mentor-item">
                <img class="img-team" srcset="./images/descktop/mentors/girl-2.png 1x, ./images/descktop/mentors/girl-2@2x.png 2x"
                    src="./images//descktop/mentors/girl-2@2x.png" alt="Mia Dubrovska" width="180" height="180">
                <h3 class="mentor-item-title">Mia Dubrovska</h3>
                <p class="mentor-text">2.0 years of experience</p>
            </li>
            <li class="mentor-item">
                <img class="img-team" srcset="./images/descktop/mentors/boy-2.png 1x, ./images/descktop/mentors/boy-2@2x.png 2x"
                    src="./images//descktop/mentors//boy-2@2x.png" alt="Eliot Kovalev" width="180" height="180">
                <h3 class="mentor-item-title">Eliot Kovalev</h3>
                <p class="mentor-text">4.0 years of experience</p>
            </li>
        </ul>
    </div>
</section>