<!-- Sign up -->
<section class="section section-sign-up" id="sign-up">
  <div class="container sign-up-wraper">
    <div class="sign-up-block">
      <h2 class="section-title" id="curses-team">Sign <span class="accent">up</span></h2>
      <p class="section-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="form-sign-up">
        <label class="form-label-sign-up" for="user-name"></label>
        <input
          class="form-input-sign-up"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Enter your name"
        />
        <label class="form-label-sign-up" for="user-email"></label>
        <input
          class="form-input-sign-up"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Enter your email"
        />
        <label class="label-textarea-sign-up" for="user-comment"></label>
        <textarea
          class="textarea-sign-up"
          name="user-comment"
          id="user-comment"
          placeholder="Message"
        ></textarea>

        <button class="sign-up-btn" type="submit">Send</button>

        <p class="policy-text">
          By clicking on “Send” button, you agree to our
          <a class="privicy-policy" href="#">Privacy Policy</a>,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-up-img-block">
      <div class="image-lens-wraper">
        <img
          class="sign-up-image-lens"
          srcset="
            ./images/descktop/sing/desc-lens.png 1x,
            ./images/descktop/sing/desc-lens@2x.png 2x
          "
          src="./images/descktop/sing/desc-lens.png"
          alt="Photographic lens"
        />
      </div>
      <div class="image-camera-wraper">
        <img
          class="sign-up-image-camera"
          srcset="
            ./images/descktop/sing/video-entry-product.png 1x,
            ./images/descktop/sing/video-entry-product@2x.png 2x
          "
          src="./images/descktop/sing/video-entry-product.png"
          alt="Video camera"
        />
      </div>
    </div>
  </div>
</section>
